* {
  padding: 0%;
  margin: 0%;
}

body {
  display: grid;
  justify-items: center;
}

header {
  text-align: center;
}

/* Mempersiapkan layar */
#screen {
  margin-top: 20px;
  height: 400px;
  width: 700px;
  border: 2px solid black;
}

#chara {
  height: 100px;
  width: 50px;
  background-image: url("img/Front_Walk_02.png");
  background-size: cover;
  position: relative;
  top: 250px;
  left: 100px;
}
.jumping {
  animation: chara_jump 700ms;
}

@keyframes chara_jump {
  0% {
    top: 250px;
    background-image: url("img/Front_Jump.png");
  }
  50% {
    top: 100px;
  }
  100% {
    top: 250px;
    background-image: url("img/Front_Jump.png");
  }
}

/* Mengatur block-nya */
#block {
  height: 50px;
  width: 50px;
  background: blue;
  position: relative;
  top: 350px;
  animation: block_move 1000ms infinite linear;
}

@keyframes block_move {
  from {
    left: 650px;
  }
  to {
    left: 0px;
  }
}

/* Layar kecil */
@media screen and (max-width: 700px) {
  header h1 {
    text-align: center;
  }

  #screen {
    width: 475px;
  }

  @keyframes block_move {
    from {
      left: 475px;
    }
    to {
      left: 0px;
    }
  }

  #chara {
    left: 50px;
  }
}
